/* dark-style.css */

body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

.box{
  display: flex;
  justify-content: space-between;
}

.cardr {
  padding: 50px 100px;
}

form {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  background-color: #2d2d2d;
  color: #f0f0f0;
  border: none;
}

.card-header {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border-bottom: none;
}

.form-label {
  color: #f0f0f0;
}

.form-control {
  background-color: #3c3c3c;
  color: #f0f0f0;
  margin-left: 10px;
  border-radius: 3px;
  border: none;
}

.form-control:focus {
  background-color: #3c3c3c;
  color: #f0f0f0;
  border-color: #f0f0f0;
  box-shadow: none;
}

.btn-primary {
  background-color: #3d3d3d;
  color: #f0f0f0;
  border-color: #f0f0f0;
}

.btn-primary:hover {
  background-color: #f0f0f0;
  color: #1e1e1e;
  border-color: #f0f0f0;
}

.text-danger {
  color: #ff5555;
}
